BOT_TOKEN=ВАШ ТОКЕН

# Telegram ID сотрудников/админов через запятую
ADMIN_IDS=1234, 4321

# Telegram ID владельцев/боссов через запятую   (!доступ редактировать/добавлять/удалять услуги)
BOSS_IDS=111222333